div.top-bar {

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: lightgrey;
    border: 2px solid black;
}
nav{

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    z-index: 1000
}

li {
  
    display: inline;
    list-style-type: none;
    font-size: 25px;
}

body{
    background: whitesmoke;
    position: relative;
    margin: 0;
    padding: 0;

}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  max-height: 500px;
  position: static;
  margin: auto;
  z-index: 1;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}



h2,
h4 {
    text-decoration: underline;
    font-weight: bold;
}

.flexbox-container {
    padding: 30px 30px 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.flexbox-container1 {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 33%;
    flex-direction: column;
    background-color:aquamarine;
    border: 2px solid black;
    margin-left: 1%;
}

.flexbox-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    flex-direction: column;
    background-color:lightgrey;
    border: 2px solid black;
}

.flexbox-container3 {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 33%;
    flex-direction: column;
    background-color:lightsalmon;
    border: 2px solid black;
}

.flexbox-container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color:lightgrey;
    border: 2px solid black;
}

.column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subheading {
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.center-text {
    font-weight: bold;
}



div.data {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 200%;
    flex-wrap: wrap;
}

.wrapper {
    display: grid;
    grid-column: 33%;
}

 .heading {
    text-align: center;
} 

